section {
  padding: 50px 0;
}
/* .details-card {
  background: #ecf0f1;
} */

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom:10%;
}

.card-title {
  margin: 0;
  padding: 0;
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
  background-color: rgba(248, 247, 216, 0.7);
}

.card-img img {
  width: 100%;
  height: auto;
  display: block;
}

.card-img span {
  position: absolute;
  top: 15%;
  right: 0;
  background: #cf0008;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 10px;
  padding-bottom: 0 !important;
  color: #fff;
  font-size: 20px !important;
  border-radius: 0;
  font-family: "Raleway", sans-serif;
}

.card-img span h4 {
  font-size: 15px;
  font-weight: 700;
}

.card-desc {
  padding: 1.25rem;
}

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-text {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 5px;
  margin: 0px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* .card-icon {
  padding-top: 5px;
} */

.card-btn {
  background-color: #cf0008;
  color: #fff;
  padding: .2em 1em;
  font-size: 1em;
  font-weight: 700;
  margin-top: 1em;
  border-radius: 5px;
  border-color: transparent;
  font-family: "Raleway", sans-serif;
  transition: .3s;
}

.card-btn:hover {
  background-color: darkred;
  transition: .3s;
}

.btn-card {
  background-color: #1abc9c;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}

.btn-card:hover {
  background: orange;
}

a.btn-card {
  text-decoration: none;
  color: #fff;
}

.card-title {
  color: #000000;
  font-weight: 500;
  font-size: 1.1em;
  line-height: 1.3em;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  text-transform: uppercase;
}