<div class="card-content">
  <div class="card-img">
    <img src="https://placeimg.com/380/230/nature" alt="Location Picture" />
    <span>
      <h5>{{ trip.price }} DT</h5>
    </span>
  </div>
  <div class="card-desc">
    <h4 class="card-title">{{ trip.title }}</h4>
    <p class="card-text">
      <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
      {{ trip.location }}
    </p>
    <p class="card-text">
      <fa-icon [icon]="faCalendar"></fa-icon>
      {{ trip.date.split("T")[0] }}
    </p>
    <p class="card-text">
      <fa-icon [icon]="faBus"></fa-icon>
      {{ trip.maxTravelers - trip.travelers.length }} remaining places
    </p>
    <button class="card-btn" [routerLink]="['/trips', trip._id, 'details']">Discoover</button>
  </div>
</div>
