<!-- <app-visitor-navbar></app-visitor-navbar> -->
<div class="row col-12">
  <div class="section col-4">
    <img class="landing-img" src="/assets/img/get-started/traveler.jpg" alt="traveler" />
    <button (click)="onClick('traveler')" class="landing-btn">
      Pick a trip
    </button>
  </div>
  <div class="section col-4">
    <img class="landing-img" src="/assets/img/get-started/organizer.jpg" alt="organizer" />
    <button (click)="onClick('organizer')" class="landing-btn">
      Organize a trip
    </button>
  </div>

  <div class="section col-4">
    <img class="landing-img" src="/assets/img/get-started/guide.jpg" alt="guide" />
    <button (click)="onClick('guide')" class="landing-btn">
      Guide a trip
    </button>
  </div>
</div>


